html {
    min-height: 100vh;
    background-image: url(home_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    max-width: 100%;
    width: 100%;
    border-bottom: 2px solid #447F6B;
}

nav.top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-inline: 2rem;
}

a {
    font-size: x-large;
    color: #447F6B;
    text-decoration: none;
}

a.game {
    font-size: xxx-large;
    margin-left: 10rem;
}

#submitword {
    display: none;
}

.round-time-bar div {
    margin-top: 40px;
    height: 30px;
    width: 12rem;
    background: linear-gradient(to bottom, #447F6B, #274b3f);
    animation: roundtime calc(var(--duration) * 1s) steps(var(--duration)) forwards;
    transform-origin: left center;
}

.round-time-bar[data-style="smooth"] div {
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
}

.round-time-bar[data-color="blue"] div {
    background: linear-gradient(to bottom, #64b5f6, #1565c0);
}

/* .round-time-bar[data-style="fixed"] div {
    width: calc(var(--duration) * 5%);
} */

@keyframes roundtime {
    to {
      /* More performant than animating `width` */
      transform: scaleX(0);
    }
  }

img {
    margin-top: 5rem;
    width: 420px;
    transition: transform .5s;
    box-shadow: 1px 5px 10px black;
}

img:hover {
    transform: scale(1.2);
}
 
p {
    font-size: x-large;
    text-decoration: underline;
    font-weight: bolder;
    color: #447F6B;
    text-shadow: 1px 1px 1px black;
    z-index: 1;
}

input.button {
    width: 326px;
    height: fit-content;
    background-color: #447F6B;
    border: none;
    border-radius: 30px;
    color: #B0D6D2;
    font-size: x-large;
    padding: 10px 50px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 1px 5px 7px black;
}

div.box { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    background-color: pink;
    padding: 69px;
    border-radius: 10px;
    box-shadow: 1px 5px 7px black;

}