<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Typing Game</title>
</head>
<body>
    <header>
        <nav class="top">
            <a href="/" class="right">Reload</a>
            <a href="/" class="game name">Typing Game</a>
            <a href="/history" class="history">Give Not Found Error</a>
                <!-- {% if "user_id" in session %}
                    <a href="/login" class="logout">Logout</a>
                {% endif %} -->
            </div>
        </nav>
    </header>
    {% block body %}{% endblock %}
</body>
</html>