{% extends "layout.html" %}

{% block body %}
    {% if "Nailed it" in message %}
        <img src="/static/winner.jpg" alt="trash" class="winner">
    {% elif "Nope" in message %}
        <img src="/static/trash.jpg" alt="trash" class="timeout">
    {% elif "You lose" in message %}
        <img src="/static/incorrect.jpg" alt="trash" class="loser">
    {% endif %}
    <p class="message">{{ message }} </p>
    <form action="/" method='POST'>
        <input type="submit" name="player1ready" value="Ready??" class="button">
    </form>

{% endblock %}