{% extends "layout.html" %}
{% block body %}

    <div class="box">
        <p> {{ message }} </p>

        <form action="/playgame" method="POST">
            <input type="text" name="playerguess" placeholder="Write here!" autofocus="on">
            <input type="submit" id="submitword" name="submitword">
        </form>

        <div class="round-time-bar"  style="--duration: 2;"  data-style="smooth">
            <div></div>
        </div>
    </div>

    <p id="whatever" value="False"></p>

    <script>
        const myTimeout = setTimeout(sendTo, 2000);

        function sendTo() {
        location.href = '/playgame'
        }    
    </script>

{% endblock %}